@import "../../responsive.scss";
.searchbar {
  .type {
    button {
      padding: 16px 36px;
      border: 1px solid #999;
      border-bottom: none;
      cursor: pointer;
      background-color: white;
      text-transform: capitalize;

      @include sm{
        padding: 10px;
      }
      &.active {
        background-color: black;
        color: white;
      }
      &:first-child {
        border-right: none;
        border-top-left-radius: 5px;
      }
      &:last-child {
        border-left: none;
        border-top-right-radius: 5px;
      }
    }
  }
  form {
    border: 1px solid #999;
    display: flex;
    justify-content: space-between;
    height: 64px;

    @include sm {
      flex-direction: column;
      gap: 5px;
      border: none;
    }

    input {
      border: none;
      padding: 0 10px;
      width: 180px;
      outline: none;

      @include lg {
        padding: 5px 20px;
        &:nth-child(2),
        &:nth-child(3) {
          width: 140px;
        }
      }
      @include md {
        width: 200px;
        &:nth-child(2),
        &:nth-child(3) {
          width: 200px;
        }
      }
      @include sm{
        width: auto;
        &:nth-child(2),
        &:nth-child(3) {
          width: auto;
        }
        padding: 10px 10px;
        border: 1px solid #999;
      }
    }
    button {
      border: none;
      cursor: pointer;
      background-color: #fece51;
      flex: 1;
      img {
        width: 24px;
        height: 24px;
      }
      @include sm{
        padding: 10px 20px;
      }
    }
  }
}
